<main class="container-fluid">
    <div class="row">
        <div class=" main">



            <div class="col-md-12">
                <div >
                    <div class="input-group col-md-12 pull-left">
                        <ul style="color:red; font-weight: bold;">
                            <li *ngFor="let err of errors">
                                {{err}}
                            </li>
                        </ul>
                    </div>
                    <div class="input-group col-md-2 pull-right">
                        
                        <select class="form-control col-md-2" [(ngModel)]="filter" placeholder="Filter">
                            <option value="All">All</option>
                            <option value="Error">Error</option>
                            
                        </select>
                        <span class="input-group-btn">
                            <a class="btn btn-default"><i class="glyphicon glyphicon-filter"></i></a>
                        </span>
                    </div>
                </div>

                <hr style="margin:5px 0px 0px 0px">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Row#</th>
                            <th>Eqp Init</th>
                            <th>Eqp Numb</th>
                            <th>Wb#</th>
                            <th>Wb date</th>
                            <th>Org</th>
                            <th>Dest</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let res of results ; let i =index;">
                            <td *ngIf="filter=='All'|| res.error">{{i+1}}</td>
                            <td *ngIf="filter=='All'|| res.error">
                                <input class="form-control" id="eqpInit" [ngClass]="{'test' : eqpInit.invalid}" name="eqpInit" [(ngModel)]="res.eqpInit" type="text" pattern="[a-zA-Z]+" placeholder="Eqp Init" #eqpInit="ngModel">
                                <div *ngIf="eqpInit.invalid">{{logError(i,'Eqp Init is Invalid')}}</div>                               
                                <div *ngIf="!eqpInit.invalid">{{removeError(i,'Eqp Init is Invalid')}}</div> 
                            <td *ngIf="filter=='All'|| res.error">
                            <input class="form-control" id="eqpNumb" name="eqpNumb" [ngClass]="{'test' : eqpNumb.invalid}" [(ngModel)]="res.eqpNumb" type="text" pattern="[0-9]+" placeholder="Eqp Numb" #eqpNumb="ngModel">
                                <div *ngIf="eqpNumb.invalid">{{logError(i,'Eqp Numb is Invalid')}}</div>
                                <div *ngIf="!eqpNumb.invalid">{{removeError(i,'Eqp Numb is Invalid')}}</div>
                            </td>
                            <td *ngIf="filter=='All'|| res.error">
                            <input class="form-control" id="wbNum" name="wbNum" [ngClass]="{'test' : wbNum.invalid}" [(ngModel)]="res.wbNum" type="text" pattern="[0-9]+" placeholder="Wb#" #wbNum="ngModel">
                                <div *ngIf="wbNum.invalid">{{logError(i,'Wb Numb is Invalid')}}</div>
                                <div *ngIf="!wbNum.invalid">{{removeError(i,'Wb Numb is Invalid')}}</div>
                            </td>
                            <td *ngIf="filter=='All'|| res.error">
                                <div class="input-group" daterangepicker [options]="singlePicker" (selected)="singleSelect($event,i,'wbDate')">

                                    <input class="form-control" type="text" id="wbDate" name="wbDate" [ngClass]="{'test' : wbDate.invalid}" [ngModel]="res.wbDate | date:'MM/d/y'" (ngModelChange)="res.wbDate=$event" placeholder="MM/DD/YYYY" #wbDate="ngModel">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </span>
                                </div>
                                <div *ngIf="wbDate.invalid">{{logError(i,'Wb date is Invalid')}}</div>
                                <div *ngIf="!wbDate.invalid">{{removeError(i,'Wb date is Invalid')}}</div>
                            </td>
                            <td *ngIf="filter=='All'|| res.error">
                            <input class="form-control" id="org" name="org" [ngClass]="{'test' : org.invalid}" [(ngModel)]="res.org" type="text" pattern="[a-zA-Z]+" placeholder="Org" #org="ngModel">
                                <div *ngIf="org.invalid">{{logError(i,'Org is Invalid')}}</div>
                                <div *ngIf="!org.invalid">{{removeError(i,'Org is Invalid')}}</div>
                            </td>
                            <td *ngIf="filter=='All'|| res.error">
                            <input class="form-control" id="dest" name="dest" [ngClass]="{'test' : dest.invalid}" [(ngModel)]="res.dest" type="text" pattern="[a-zA-Z]+" placeholder="Dest" #dest="ngModel">
                                <div *ngIf="dest.invalid">{{logError(i,'Dest is Invalid')}}</div>
                                <div *ngIf="!dest.invalid">{{removeError(i,'Dest is Invalid')}}</div>
                            </td>
                            <td *ngIf="filter=='All'|| res.error">
                                
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default"><i class="glyphicon glyphicon-usd"></i></span>
                                    </span><input class="form-control" id="amount" name="amount" [ngClass]="{'test' : amount.invalid}" [(ngModel)]="res.amount" type="text" pattern="^[0-9]+(\.[0-9]+)?$" placeholder="Amount" #amount="ngModel" />
                                </div>
                                <div *ngIf="amount.invalid">{{logError(i,'Amount is Invalid')}}</div>
                                <div *ngIf="!amount.invalid">{{removeError(i,'Amount is Invalid')}}</div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <button class="btn btn-lg btn-primary pull-right" type="button">Finalize</button>
        </div>
    </div>
</main>
